body {
  background-color: #ccc;
}
button {
  cursor: pointer;
}
.container {
  width: 600px;
  margin: 10px auto;
  background-color: #fff;
  padding: 10px;
}
input[type='radio'] {
  accent-color: #f08130;
}
.checkbox {
  display: block;
  margin-top: 10px;
  padding: 20px 0px;
}
#input-list {
  display: block;
}
.input-item {
  margin: 10px 0px;
  display: block;
}
.input-item input {
  width: 530px;
  height: 30px;
}
.input-item button {
  width: 50px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #f08130;
  background-color: #fff;
  color: #f08130;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
}
#btn-plus {
  width: 17%;
  height: 35px;
  border: 1px solid #f08130;
  background-color: #fff;
  color: #f08130;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
#btn-save {
  background-color: #f08130;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  display: block;
  margin: 0 auto;
  border: 1px solid #f08130;
  font-weight: bold;
  padding-bottom: 10px;
}